
ConsoleGame/.vs/ConsoleGame/v17/ipch/AutoPCH/5c81e3d06a8b11e7/MINESWEEPER.ipch
ConsoleGame/.vs/ConsoleGame/v17/ipch/AutoPCH/71d436cecd8d24e5/TICTACTO.ipch
ConsoleGame/.vs/ConsoleGame/v17/ipch/AutoPCH/a077e4bfc960a67/MINESWEEPER.ipch
*.json
*.user
*.filters
*.pch
*.log
*.db
*.vsidx
*.backup
x64/
.vs/
.obj/
.bin/
ConsoleGame/.vs/ConsoleGame/FileContentIndex/7f19a50d-a932-45f9-a44f-82df7c3506a0.vsidx
ConsoleGame/.vs/ConsoleGame/FileContentIndex/f5b851a2-f70b-4c02-9355-92df50ea0f48.vsidx
ConsoleGame/.vs/ConsoleGame/v17/.suo
ConsoleGame/.vs/ConsoleGame/v17/Browse.VC.db
ConsoleGame/.vs/ConsoleGame/v17/DocumentLayout.json
ConsoleGame/x64/Debug/MineSweeper.exe
ConsoleGame/x64/Debug/MineSweeper.pdb
MineSweeper/x64/Debug/MineSweeper.ilk
MineSweeper/x64/Debug/MineSweeper.obj
MineSweeper/x64/Debug/vc143.idb
MineSweeper/x64/Debug/vc143.pdb
*.vcxproj
/ConsoleGame/ConsoleGame.sln
/ConsoleGame/.vs/ConsoleGame/v17/DocumentLayout.json
/ConsoleGame/.vs/ConsoleGame/v17/Solution.VC.db
/ConsoleGame/.vs/ConsoleGame/v17/Browse.VC.db
/ConsoleGame/.vs/ConsoleGame/v17/.suo
/ConsoleGame/.vs/ConsoleGame/v17/ipch/AutoPCH/c6579a778c1e5669/SOKOBAN.ipch
/ConsoleGame/ConsoleGame.sln
/ConsoleGame/.vs/ConsoleGame/v17/.suo
/ConsoleGame/.vs/ConsoleGame/v17/Browse.VC.db
/ConsoleGame/.vs/ConsoleGame/v17/DocumentLayout.json
/ConsoleGame/.vs/ConsoleGame/v17/Solution.VC.db
/ConsoleGame/.vs/ConsoleGame/v17/ipch/AutoPCH/c6579a778c1e5669/SOKOBAN.ipch
/ConsoleGame/ConsoleGame.sln
/ConsoleGame/.vs/ConsoleGame/v17/.suo
/ConsoleGame/.vs/ConsoleGame/v17/Browse.VC.db
/ConsoleGame/.vs/ConsoleGame/v17/DocumentLayout.json
/ConsoleGame/.vs/ConsoleGame/v17/ipch/AutoPCH/c6579a778c1e5669/SOKOBAN.ipch
/ConsoleGame/.vs/ConsoleGame/v17/Solution.VC.db
